@use "variables";
@mixin button-styles($padding, $radius, $font) {
  display: inline-block;
  padding: $padding;
  border-radius: $radius;
  cursor: pointer;
  font-size: $font;

  &-primary {
    background-color: variables.$primary;
    color: variables.$white;
  }
  &-secondary {
    background-color: variables.$secondary;
    color: white;
  }
  &-smoke {
    background-color: variables.$smoke;
    color: black;
  }
}

@mixin container-styles($padding) {
  padding: $padding;
}
