@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.mr-1 {
  margin-right: 10px;
}
.mr-2 {
  margin-right: 20px;
}
.mr-3 {
  margin-right: 30px;
}
.mr-4 {
  margin-right: 40px;
}

.ml--1 {
  margin-left: 10px;
}
.ml--2 {
  margin-left: 20px;
}
.ml--3 {
  margin-left: 30px;
}
.ml--4 {
  margin-left: 40px;
}

.container {
  padding: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 12px;
}
.btn-primary {
  background-color: #ea5422;
  color: #fff;
}
.btn-secondary {
  background-color: #c45743;
  color: white;
}
.btn-smoke {
  background-color: #f5f5f5;
  color: black;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.landing header {
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.landing-logo {
  display: flex;
}
.landing-logo h1 {
  font-size: 20px;
  padding: 10px 0px;
}
.landing-logo img {
  width: 50px;
  height: 50px;
}
.landing-options {
  padding: 10px 0;
}
.landing-options > * {
  margin: 0 10px;
}
.landing-buttons {
  display: flex;
  align-items: center;
}
.landing-grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.landing-grid-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.landing-footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2rem;
}
.landing-footer ul {
  padding: 0;
}
.landing-footer li {
  padding: 5px 0;
}
.landing-footer section:first-child p {
  padding: 0 10px;
  text-align: start;
}

.hero {
  padding: 20px;
}
.hero-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-p p:first-child {
  font-size: 45px;
  font-weight: 900;
}
.hero-p p:nth-child(2) {
  font-size: 20px;
  margin-bottom: 1rem;
  color: grey;
}
.hero-p .btn {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}
.hero-p .btn-primary {
  background-color: #ea5422;
  color: #fff;
}
.hero-p .btn-secondary {
  background-color: #c45743;
  color: white;
}
.hero-p .btn-smoke {
  background-color: #f5f5f5;
  color: black;
}
.hero-img {
  display: flex;
  justify-content: center;
}

main {
  background: rgba(245, 245, 245, 0.9);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.stats-grid {
  background-color: #ea5422;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  height: 160px;
  padding: 20px;
}
.stats-item {
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats-item p {
  font-size: 16px;
}

.features {
  margin-top: 2rem;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.features-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features-container-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.features-container-item section {
  padding: 10px;
}
.features-container-item section figure {
  display: flex;
}
.features-container-item section figure img {
  margin: auto;
  width: 80px;
  height: 80px;
}
.features-container-item section h2 {
  text-align: center;
  margin-bottom: 5px;
}
.features-container-item section p {
  text-align: justify;
  line-height: 1.5;
  color: grey;
}
.features div:nth-child(2) {
  display: grid;
  grid-column: 2/span 2;
}
.features-map {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.features-map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features-map-container h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 1rem;
}
.features-map-container p {
  margin-bottom: 1rem;
}
.features-map-container .btn {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}
.features-map-container .btn-primary {
  background-color: #ea5422;
  color: #fff;
}
.features-map-container .btn-secondary {
  background-color: #c45743;
  color: white;
}
.features-map-container .btn-smoke {
  background-color: #f5f5f5;
  color: black;
}
.features-map div:first-child {
  grid-column: 1/span 2;
}
